<div class="btn btn-primary btn-lg active" role="button" onclick="playQue()">Play Que</div>
<div class="btn btn-primary btn-lg active" role="button">Pause</div>
<div><input type="range" id="volume" value="50"></div>